<h1><strong>About Me!</strong></h1>
<hr />
<div>

<!-- pic of me -->
<img src="../../Assets/images/me.jpg" alt="me" width="250" height="250" align="right" class="rounded" alt="...">

<!-- Who am I?: -->
 <form id="contactForm">
 <br />
 <p><h5><strong>Who am I? </strong></h5></p>
 <body>
<font size = "3">My name is Goodnews Iyeteku and I live in Ottawa, Canada. I'm orginally from Nigeria. I am currently enrolled in the Software Engineering Technican program at Centennial College. I have a passion in technology and hope to one day have sofware engineering job. </font><br />
 <body>
<br />
<body>
<font size = "3">I love to game, workouut and play basketball. </font><br />
 <body>
<br />
 <body>
<font size = "3">Please reach out to me if you would like to connect. My contact information can be found in the contact section. </font><br />
 <body>
<!-- Resume  -->
 <form id="contactForm">
 <br />
 <p><h5><strong>Plese see below for my Resume: </strong></h5></p>
 
<!--resume pdf added-->
  <li><a href="../../Assets/images/Goodnews Iyeteku- Soft Resume.pdf"><strong>Resume</a></li>



