<h1><strong>Contact Me!</strong></h1>
            <hr />
            <div>
               <body>
  
  <ul class="list-group list-group-flush">
  <li class="list-group-item"><i class="fas fa-mobile-alt"></i>        613-709-8781</li>
  <li class="list-group-item"><i class="fas fa-envelope"></i>         gd.iyeteku@yahoo.ca</li>
  <li class="list-group-item"><i class="fas fa-address-book"></i>     266 Mojave Crescent, Ottawa, Ontario, K2S 0H6 </li>
  </ul>
            </ul>
&nbsp;

  <form action="/" autocomplete="on">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">First Name</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Last Name</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="">
      </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email Address</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="example@gmail.com">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Contact number</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="()">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Message</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</body>
  