<h1><strong>Welcome to my page!</strong></h1>
<hr />
<div>

<!-- Who am I?: -->
 <form id="contactForm">
 <br />
 <p><h5><strong>Mission Statement:  </strong></h5></p>
 <body>
<ul>
        <li><a>I am and always be a student. I will keep being a student after the completion of my studies. I plan to be a lifelong learning of programing.</a></li>
        <li><a>I am part of a team. I will always strieve to work seemly in a team.  </a></li>
        <li><a>I am an optimist and a realist. I will always strieve to see the good side of things and be a positive programmer.</a></li>
        <li><a>I am an engineer. I will apply good software engineering methodology to any problem that I encounter.</a></li>
        <li><a>I am a a software craftsman. I am proud of my work and understand the importance of good coding.</a></li>
    </ul>
 <body>

 <br />
<a class="btn btn-secondary btn-sm" href="/about" role="button">Find out more about me here!</a>

