<h1><strong>My Projects!</strong></h1>
<hr />
</div>

<body>
  <div class="card-group">
  <div class="card">
    <img class="card-img-top" src="../../Assets/images/stock.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Stock Project </h5>
      <p class="card-text"> Invested in a stock trading simulation and engaged in various trading strategies such as call options and put options</p>
      <p class="card-text"><small class="text-muted">08/2015 - 09/2016></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../Assets/images/web.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Web Development</h5>
      <p class="card-text">I plan to develop a website for my chuch using basic html, css and javascript</p>
      <p class="card-text"><small class="text-muted">01/2021 - Present</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../Assets//sql.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Linking SQL to website</h5>
      <p class="card-text">I plan to link sql to the website, so that users can store valid information about themselves</p>
      <p class="card-text"><small class="text-muted">01/2021 - Present</small></p>
    </div>
  </div>
</div>
  
</body>


</main>

