<h1>Our Services</h1>

<body>
  <div class="card-group">
  <div class="card">
    <img class="card-img-top" src="../../Assets/images/mongo.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Web creation - mongo DB </h5>
      <p class="card-text">Developing website using MongoDB. MongoDB is a general purpose, document-based, distributed database built for modern application developers and for the cloud era.</p>
      <p class="card-text"><small class="text-muted">MongoDB...</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../Assets/images/mobileapp.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Mobile App Development</h5>
      <p class="card-text">Development of mobile apps using jQuery Mobile, Ionic and Framework 7.</p>
      <p class="card-text"><small class="text-muted">Jquery Mobile, Ionic and Framework 7</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="../../Assets/images/programming.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">General Programming</h5>
      <p class="card-text">Offer general programming services in languages such as c#, c++ and java</p>
      <p class="card-text"><small class="text-muted">general programming services</small></p>
    </div>
  </div>
</div>
  
</body>


</main>
